---
layout: default
---
<h1>{{ page.name }}</h1>

{{ content }}

<ul>
    {% assign section_chapters = site.chapters | where: "ostep_section", page.name %}
    {% for chapter in section_chapters %}
    {% assign chapter_memes = site.posts | where: "chapter", chapter.number %}
    <h2><a href="{{ chapter.link }}">{{ chapter.name }}</a></h2>
    <div class="image-gallery">
            {% for meme in chapter_memes %}
            <div class="box"><a href="{{ meme.url | relative_url }}">
                <img src="{{ site.thumbsurl | relative_url }}{{ meme.image }} " alt="{{ post.name }} meme" class="img-gallery" />
            </a></div>
        {% endfor %}
        </div>
    {% endfor %}
</ul>